body {
    font-family: 'Helvetica';
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    color: #333; 
}

h1 {
    text-align: center;
    color: #8B4513; /* Dark Goldenrod */
}

h1, h2, h3 {
    color: #800080; /* Purple */
}

section {
    margin-bottom: 20px;
}

a {
    color: #800080; /* Purple */
}

a:hover {
    color: #8B4513; /* Dark Goldenrod */
}

.banner {
    text-align: center;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: auto;
}
